.imagen{
    width: 45%;
    position: absolute;
    margin: auto;
    top: 0;
    right: 45rem;
    bottom: 20%;
    left: 0;
    border-radius: 1rem;
  
}

.mover{
    text-align: left;
    margin-left: %;


    
}