.dark{
    background-color: #C4215A;
}
.texto:hover{
    color: #136fc0 !important;

}
.texto{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 40px;

}
.logo{
    font-size: 2rem !important;
}